terraform/region/step-function/download-data-resource.json
{
  "Comment": "Starts an EMR cluster, processes data resources in parallel, and terminates the cluster",
  "StartAt": "Has a download URL",
  "States": {
    "Has a download URL": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($states.context.Execution.Input.dataResource.connectionParameters.url) %}",
          "Next": "Can Skip?",
          "Assign": {
            "dataResourceUrl": "{% $states.context.Execution.Input.dataResource.connectionParameters.url %}",
            "config": "{% $states.context.Execution.Input.config %}",
            "dataResourceId": "{% $states.input.dataResource.uid %}",
            "lastUpdated": "{% $states.input.dataResource.lastUpdated %}",
            "rootPipelineName": "{% $exists($states.context.Execution.Input.rootPipelineName) ? $states.context.Execution.Input.rootPipelineName : $states.context.Execution.Name %}"
          }
        }
      ],
      "Default": "Fail",
      "Output": {
        "Error": "MissingConnectionParams",
        "Cause": "The Data Resources does not have any connection params configured"
      }
    },
    "Can Skip?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Reset Data Resource State",
          "Condition": "{% $states.context.Execution.Input.resetAllData or false %}"
        },
        {
          "Next": "Do Nothing",
          "Condition": "{% $not($states.context.Execution.Input.forceDownload or false) and $exists($states.context.Execution.Input.dataResourceProcessingState.DownloadedAt.S) and $toMillis($states.context.Execution.Input.dataResourceProcessingState.DownloadedAt.S) > $toMillis($lastUpdated) %}"
        }
      ],
      "Default": "Download Data Resource"
    },
    "Reset Data Resource State": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "STATE"
          }
        }
      },
      "Next": "List Pipelines Data"
    },
    "List Pipelines Data": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Prefix": "{% 'data/pipelines-data/' & $dataResourceId & '/' %}",
        "MaxKeys": 100
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
      "Next": "Pipelines Data Exists?"
    },
    "Pipelines Data Exists?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Delete Pipelines Data",
          "Condition": "{% $exists($states.input.Contents ) %}",
          "Output": "{% $states.input %}"
        }
      ],
      "Default": "List All Pipelines Data"
    },
    "Delete Pipelines Data": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Delete": {
          "Objects": "{% [$states.input.Contents.{'Key': Key }] %}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObjects",
      "Next": "Has more items to delete?"
    },
    "Has more items to delete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "List Pipelines Data",
          "Condition": "{% $count($states.input.Deleted) >= 100 %}"
        }
      ],
      "Default": "List All Pipelines Data"
    },
    "List All Pipelines Data": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Prefix": "{% 'data/pipelines-all-data/' & $dataResourceId & '/' %}",
        "MaxKeys": 100
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
      "Next": "All Pipelines Data Exists?"
    },
    "All Pipelines Data Exists?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Delete All Pipelines Data",
          "Condition": "{% $exists($states.input.Contents ) %}"
        }
      ],
      "Default": "Download Data Resource"
    },
    "Delete All Pipelines Data": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Delete": {
          "Objects": "{% [$states.input.Contents.{'Key': Key }] %}"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:deleteObjects",
      "Next": "Has more items to delete 2"
    },
    "Has more items to delete 2": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "List All Pipelines Data",
          "Condition": "{% $count($states.input.Deleted) >= 100 %}"
        }
      ],
      "Default": "Download Data Resource"
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "result": "SKIPPED"
      }
    },
    "Download Data Resource": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Arguments": {
        "JobDefinition": "{% $config.download_data_resource_job_definition_arn %}",
        "JobName": "{% 'download-data-' & $dataResourceId %}",
        "JobQueue": "{% $config.job_queue_arn %}",
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "DATA_RESOURCE_ID",
              "Value": "{% $dataResourceId %}"
            },
            {
              "Name": "DATA_RESOURCE_URL",
              "Value": "{% $dataResourceUrl %}"
            },
            {
              "Name": "DATA_RESOURCE_LAST_UPDATED",
              "Value": "{% $lastUpdated %}"
            },
            {
              "Name": "DOWNLOADED_EVENT_TIMESTAMP",
              "Value": "{% $now() %}"
            },
            {
              "Name": "ROOT_PIPELINE_NAME",
              "Value": "{% $rootPipelineName %}"
            },
            {
              "Name": "EXECUTION_PIPELINE_ID",
              "Value": "{% $states.context.Execution.Id %}"
            },
            {
              "Name": "S3_BUCKET_LOCATION",
              "Value": "{% 's3://' & $config.s3_bucket_name_pipeline & '/data' %}"
            }
          ]
        }
      },
      "Next": "Get Download File Size and Hash",
      "Output": {
        "downloadedTimeStamp": "{% $states.result.Container.Environment[Name='DOWNLOADED_EVENT_TIMESTAMP'].Value %}"
      }
    },
    "Get Download File Size and Hash": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "{% $join(['HISTORY', $lastUpdated, $states.input.downloadedTimeStamp, 'DOWNLOADED'], '#') %}"
          }
        }
      },
      "Next": "Still has the same File Hash?",
      "Assign": {
        "fileSize": "{% $number($states.result.Item.FileSize.N) %}",
        "fileHash": "{% $states.result.Item.FileHash.S %}"
      }
    },
    "Still has the same File Hash?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Do Nothing",
          "Condition": "{% ($exists($states.context.Execution.Input.FileHash.S) and ($states.context.Execution.Input.FileHash.S) = ($states.input.FileHash.S)) %}"
        }
      ],
      "Default": "DWCA to Verbatim",
      "Output": "{% $fileSize %}"
    },
    "DWCA to Verbatim": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Arguments": {
        "JobDefinition": "{% $config.dwca_to_verbatim_job_definition_arn %}",
        "JobName": "{% 'dwca-to-verbatim-' & $dataResourceId %}",
        "JobQueue": "{% $config.job_queue_arn %}",
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "DATA_RESOURCE_ID",
              "Value": "{% $dataResourceId %}"
            },
            {
              "Name": "DATA_RESOURCE_URL",
              "Value": "{% $dataResourceUrl %}"
            },
            {
              "Name": "DATA_RESOURCE_LAST_UPDATED",
              "Value": "{% $lastUpdated %}"
            },
            {
              "Name": "DOWNLOADED_EVENT_TIMESTAMP",
              "Value": "{% $now() %}"
            },
            {
              "Name": "ROOT_PIPELINE_NAME",
              "Value": "{% $rootPipelineName %}"
            },
            {
              "Name": "EXECUTION_PIPELINE_ID",
              "Value": "{% $states.context.Execution.Id %}"
            },
            {
              "Name": "S3_BUCKET_LOCATION",
              "Value": "{% 's3://' & $config.s3_bucket_name_pipeline & '/data' %}"
            }
          ]
        }
      },
      "Next": "Update Downloaded Timestamp"
    },
    "Update Downloaded Timestamp": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "STATE"
          }
        },
        "UpdateExpression": "SET DownloadedAt = :instant, FileHash = :fileHash, FileSize = :fileSize",
        "ExpressionAttributeValues": {
          ":instant": {
            "S": "{% $now() %}"
          },
          ":fileHash": {
            "S": "{% $fileHash %}"
          },
          ":fileSize": {
            "N": "{% $string($fileSize) %}"
          }
        }
      },
      "Output": {
        "result": "SUCCEEDED"
      },
      "End": true
    },
    "Fail": {
      "Type": "Fail",
      "Error": "{% $states.input.Error %}",
      "Cause": "{% $states.input.Cause %}"
    }
  },
  "QueryLanguage": "JSONata"
}
