terraform/region/step-function/index-data-resource.json
{
  "Comment": "Starts an EMR cluster, processes data resources in parallel, and terminates the cluster",
  "StartAt": "Can Skip?",
  "States": {
    "Can Skip?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Do Nothing",
          "Condition": "{% $not($states.context.Execution.Input.forceIndex or false) and $toMillis($states.context.Execution.Input.dataResourceProcessingState.IndexedAt.S) >$toMillis($states.context.Execution.Input.dataResourceProcessingState.DownloadedAt.S) and ($merge($each($states.context.Execution.Input.dataResourceProcessingState.SpeciesLists.M, function($v,$k){{$k: $v.S}})) = $states.input.speciesLists) or false %}"
        }
      ],
      "Default": "Big or Small?",
      "Assign": {
        "config": "{% $states.context.Execution.Input.config %}",
        "dataResourceId": "{% $states.input.dataResource.uid %}",
        "lastUpdated": "{% $states.input.dataResource.lastUpdated %}",
        "rootPipelineName": "{% $exists($states.context.Execution.Input.rootPipelineName) ? $states.context.Execution.Input.rootPipelineName : $states.context.Execution.Name %}",
        "speciesLists": "{% $states.input.speciesLists %}"
      }
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "result": "SKIPPED"
      }
    },
    "Big or Small?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Get or create EMR Cluster",
          "Condition": "{% $number($states.context.Execution.Input.dataResourceProcessingState.FileSize.N) > $config.dataresource_size_threshold %}"
        }
      ],
      "Default": "Process Small Data Resource"
    },
    "Process Small Data Resource": {
      "Type": "Task",
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Arguments": {
        "JobDefinition": "{% $config.process_data_resource_job_definition_arn %}",
        "JobName": "{% 'process-data-resource-' & $dataResourceId %}",
        "JobQueue": "{% $config.job_queue_arn %}",
        "ContainerOverrides": {
          "Environment": [
            {
              "Name": "DATA_RESOURCE_ID",
              "Value": "{% $dataResourceId %}"
            }
          ]
        }
      },
      "Next": "Update Indexed Timestamp"
    },
    "Get or create EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $config.get_or_create_emr_cluster_state_machine_arn %}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID": "{% $states.context.Execution.Id %}",
          "rootPipelineName": "{% $states.context.Execution.Input.rootPipelineName %}",
          "config": "{% $config %}"
        }
      },
      "Assign": {
        "clusterId": "{% $states.result.Output.clusterId %}"
      },
      "Next": "Interpret"
    },
    "Interpret": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'interpret-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--conf",
              "spark.executor.cores=4",
              "--conf",
              "spark.driver.memory=2g",
              "--conf",
              "spark.executor.memory=26g",
              "--conf",
              "{% 'spark.dynamicAllocation.maxExecutors=' & $string($config.min_number_of_core_workers * 2) %}",
              "--deploy-mode",
              "cluster",
              "--class",
              "au.org.ala.pipelines.beam.ALAVerbatimToInterpretedPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Validate"
    },
    "Validate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'validate-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.ALAUUIDValidationPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "UUID"
    },
    "UUID": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'uuid-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.ALAUUIDMintingPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Get Multimedia Records"
    },
    "Get Multimedia Records": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Key": "{% 'data/pipelines-data/' & $dataResourceId & '/0/interpretation-metrics.yml' %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Has Multimedia Records?",
      "Output": "{% $number($match($states.result.Body, /multimediaRecordsCountAttempted: (\\d+)/).groups[0] or 0) %}"
    },
    "Has Multimedia Records?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Image sync",
          "Condition": "{% $states.input > 0 %}"
        }
      ],
      "Default": "Index"
    },
    "Image sync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'image-sync-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.ImageServiceSyncPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Image load"
    },
    "Image load": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'image-load-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.ImageServiceDiffLoadPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Index",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Index"
        }
      ]
    },
    "Index": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'index-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.IndexRecordPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Update Indexed Timestamp"
    },
    "Update Indexed Timestamp": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "STATE"
          }
        },
        "UpdateExpression": "SET IndexedAt = :instant, SpeciesLists = :speciesLists",
        "ExpressionAttributeValues": {
          ":instant": {
            "S": "{% $now() %}"
          },
          ":speciesLists": {
            "M": "{% $merge($each($speciesLists, function($v,$k){{$k: {\"S\":$v}}})) %}"
          }
        }
      },
      "End": true,
      "Output": {
        "result": "SUCCEEDED"
      }
    }
  },
  "QueryLanguage": "JSONata"
}
