terraform/region/step-function/sample-data-resource.json
{
  "Comment": "Starts an EMR cluster, processes data resources in parallel, and terminates the cluster",
  "StartAt": "Get State-machine Config",
  "States": {
    "Get State-machine Config": {
      "Type": "Task",
      "Arguments": {
        "Name": "inbo-vbp-pipelines-config"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "Next": "Can Skip?",
      "Assign": {
        "config": "{% $parse($states.result.Parameter.Value) %}",
        "dataResourceId": "{% $states.input.dataResource.uid %}",
        "lastUpdated": "{% $states.input.dataResource.lastUpdated %}",
        "rootPipelineName": "{% $exists($states.context.Execution.Input.rootPipelineName) ? $states.context.Execution.Input.rootPipelineName : $states.context.Execution.Name %}",
        "spatialFields": "{% $states.input.spatialFields %}"
      }
    },
    "Can Skip?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Do Nothing",
          "Condition": "{% $not($states.context.Execution.Input.forceSample or false) and $toMillis($states.context.Execution.Input.dataResourceProcessingState.SampledAt.S) > $toMillis($states.context.Execution.Input.dataResourceProcessingState.DownloadedAt.S) and $sort($spatialFields) = $sort($states.context.Execution.Input.dataResourceProcessingState.SpatialFields.SS) or false %}"
        }
      ],
      "Default": "Get or create EMR Cluster"
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "result": "SKIPPED"
      }
    },
    "Get or create EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $config.get_or_create_emr_cluster_state_machine_arn %}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID": "{% $states.context.Execution.Id %}",
          "rootPipelineName": "{% $rootPipelineName %}"
        }
      },
      "Assign": {
        "clusterId": "{% $states.result.Output.clusterId %}"
      },
      "Next": "Sampling"
    },
    "Sampling": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'sampling-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "cluster",
              "--class",
              "au.org.ala.pipelines.beam.SamplingPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Sample layers"
    },
    "Sample layers": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'sample-layers-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "/usr/lib/jvm/java-17-amazon-corretto.aarch64/bin/java",
              "{% '-Dspark.default.parallelism=' & $string($config.spark_default_parallelism) %}",
              "{% '-Dspark.sql.shuffle.partitions=' & $string($config.spark_default_parallelism * 2) %}",
              "{% '-Dspark.hadoop.fs.s3a.connection.maximum=' & $string($config.spark_default_parallelism * 2) %}",
              "-Dlog4j.configuration=file:///opt/inbo/pipelines/config/log4j.properties",
              "-Dlog4j.configurationFile=file:///opt/inbo/pipelines/config/log4j.properties",
              "-cp",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "au.org.ala.sampling.LayerCrawler",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}"
            ]
          }
        }
      },
      "Next": "Update Sampled Timestamp",
      "Output": {
        "skipSamplingSync": false
      }
    },
    "Update Sampled Timestamp": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "STATE"
          }
        },
        "UpdateExpression": "SET SampledAt = :instant, SpatialFields = :spatialFields",
        "ExpressionAttributeValues": {
          ":instant": {
            "S": "{% $now() %}"
          },
          ":spatialFields": {
            "SS": "{% $spatialFields %}"
          }
        }
      },
      "End": true,
      "Output": {
        "result": "SUCCEEDED"
      }
    }
  },
  "QueryLanguage": "JSONata"
}