terraform/region/step-function/solr-data-resource.json
{
  "Comment": "Starts an EMR cluster, processes data resources in parallel, and terminates the cluster",
  "StartAt": "Set Variables",
  "States": {
    "Set Variables": {
      "Type": "Pass",
      "Next": "Can Skip?",
      "Assign": {
        "config": "{% $states.context.Execution.Input.config %}",
        "dataResourceId": "{% $states.input.dataResource.uid %}",
        "lastUpdated": "{% $states.input.dataResource.lastUpdated %}",
        "rootPipelineName": "{% $exists($states.context.Execution.Input.rootPipelineName) ? $states.context.Execution.Input.rootPipelineName : $states.context.Execution.Name %}",
        "solrCollection": "{% $states.context.Execution.Input.solrCollection %}",
        "solrAt": "{% $exists($states.context.Execution.Input.dataResourceProcessingState.SolrAt.M) ? $merge($each($states.context.Execution.Input.dataResourceProcessingState.SolrAt.M, function($v,$k){{$k: $v.S}})) : {} %}"
      }
    },
    "Can Skip?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Do Nothing",
          "Condition": "{% $not($states.context.Execution.Input.forceSolr or false) and ($toMillis($lookup($solrAt, $solrCollection)) > $max([$toMillis($states.context.Execution.Input.dataResourceProcessingState.IndexedAt.S),$toMillis($states.context.Execution.Input.dataResourceProcessingState.SampledAt.S)])) or false %}"
        }
      ],
      "Default": "Get Sample Records"
    },
    "Do Nothing": {
      "Type": "Pass",
      "End": true,
      "Output": {
        "result": "SKIPPED"
      }
    },
    "Get Sample Records": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $config.s3_bucket_name_pipeline %}",
        "Key": "{% 'data/pipelines-data/' & $dataResourceId & '/0/sampling-metrics.yml' %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Get or create EMR Cluster",
      "Assign": {
        "sampledRecords": "{% $parse($states.result.Body).sampledRecords or 0 %}"
      }
    },
    "Get or create EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "{% $config.get_or_create_emr_cluster_state_machine_arn %}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID": "{% $states.context.Execution.Id %}",
          "config": "{% $states.context.Execution.Input.config %}",
          "rootPipelineName": "{% $rootPipelineName %}"
        }
      },
      "Assign": {
        "clusterId": "{% $states.result.Output.clusterId %}"
      },
      "Next": "Clear Old Records",
      "Output": {
        "skipSamplingSync": true
      }
    },
    "Clear Old Records": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "{% $config.lambda_biocache_index_management_arn %}",
        "Payload": {
          "httpMethod": "POST",
          "version": "2",
          "headers": {
            "content-type": "application/json"
          },
          "isBase64Encoded": false,
          "rawQueryString": "",
          "rawPath": "/",
          "routeKey": "/",
          "originatesFromStepFunction": true,
          "body": "{% $string({\n  'query': 'mutation ClearDataResourceFromIndex($input: ClearDataResourceFromIndexInput!) { clearDataResourceFromIndex(input: $input) { indexId dataResourceId } }',\n'variables': {\n  'input': {\n    'indexId': $states.context.Execution.Input.solrCollection,\n  'dataResourceId': $dataResourceId\n  }\n}\n}) %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Solr"
    },
    "Solr": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
      "Arguments": {
        "ClusterId": "{% $clusterId %}",
        "Step": {
          "Name": "{% 'solr-' & $dataResourceId %}",
          "ActionOnFailure": "CONTINUE",
          "HadoopJarStep": {
            "Jar": "command-runner.jar",
            "Args": [
              "spark-submit",
              "--deploy-mode",
              "client",
              "--class",
              "au.org.ala.pipelines.beam.IndexRecordToSolrPipeline",
              "{% '/opt/inbo/pipelines/pipelines-' & $config.pipelines_version & '.jar' %}",
              "{% '--datasetId=' & $dataResourceId %}",
              "--config=/opt/inbo/pipelines/config/la-pipelines.yaml",
              "{% '--solrCollection=' & $states.context.Execution.Input.solrCollection %}",
              "--awsRegion=eu-west-1",
              "{% '--fsPath=s3://' & $config.s3_bucket_name_pipeline & '/data'%}",
              "{% '--includeSampling=' & $string($sampledRecords > 0) %}"
            ]
          }
        }
      },
      "Next": "Update Solr Timestamp"
    },
    "Update Solr Timestamp": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "{% $config.dynamodb_table_name %}",
        "Key": {
          "PK": {
            "S": "{% 'DATA_RESOURCE#' & $dataResourceId %}"
          },
          "SK": {
            "S": "STATE"
          }
        },
        "UpdateExpression": "SET SolrAt = :solrAt",
        "ExpressionAttributeValues": {
          ":solrAt": {
            "M": "{% $merge($each($merge([$solrAt, {$solrCollection: $now()}]), function($v,$k){{$k: {\"S\":$v}}})) %}"
          }
        }
      },
      "End": true,
      "Output": {
        "result": "SUCCEEDED"
      }
    }
  },
  "QueryLanguage": "JSONata"
}
